<h1>Employee Detail</h1>
<span *ngIf="loading">Loading..</span>
<span *ngIf="errorMessage">{{ errorMessage | json }}</span>

<table class="table table-bordered" *ngIf="employee">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.createdAt | date: 'yyyy-MM-dd' }}</td>
        </tr>
    </tbody>
</table>

<a routerLink="overview" class="btn btn-primary" routerLinkActive="active">OverView</a>
<a routerLink="project" class="btn btn-success" routerLinkActive="active">Project</a>

<router-outlet></router-outlet>